<!doctype html>
<html lang="en">

<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33349132-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-33349132-2');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Coronavirus Live Advanced Statistics</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="COVID-19 Outbreak Cases, Statistics, Your Country and Worldwide">
    <meta name="msapplication-tap-highlight" content="no">
    <!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
{% load static %}
<link href="{% static 'main.css' %}" rel="stylesheet">
<!-- Hotjar Tracking Code for covidstatus.live -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1729840,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-main">
            <div class="col-lg-12">

                    <div class="main-card mb-3">
{#                            <img src={{ flag }} style="width: 40px; height=40px;">#}
                        <h1>{{ location }} Corona Virus Live Status</h1>
                    </div>

                    <div class="main-card mb-3 card">
                        <div class="no-gutters row">
                            <div class="col-md-3">
                                <div class="widget-content">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-right ml-0 mr-3">
                                            <div class="widget-numbers text-warning">{{ my_country_total_cases }}</div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total Cases</div>
                                            <div class="widget-subheading">All confirmed cases</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget-content">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-right ml-0 mr-3">
                                            <div class="widget-numbers text-primary">{{ my_country_new_cases }}</div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">New Cases Today</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget-content">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-right ml-0 mr-3">
                                            <div class="widget-numbers text-danger">{{ my_country_total_deaths }}</div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total Deaths</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget-content">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-right ml-0 mr-3">
                                            <div class="widget-numbers text-danger">{{ my_country_new_deaths }}</div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">New Deaths Today</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider mt-0" style="margin-bottom: 30px;"></div>


                    <h1>Worldwide Status</h1>

                    {% load humanize %}

                    <div class="row">

                    <div class="col-lg-4">
                        <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <div class="card mb-3 widget-content bg-premium-dark">
                                <div class="widget-content-wrapper text-white">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Total Cases</div>
{#                                        <div class="widget-subheading">Total revenue streams</div>#}
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-warning"><span>{{ global_cases|intcomma }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <div class="card mb-3 widget-content bg-premium-dark">
                                <div class="widget-content-wrapper text-white">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Recovered</div>
{#                                        <div class="widget-subheading">Total revenue streams</div>#}
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-success"><span>{{ global_recovered|intcomma }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <div class="card mb-3 widget-content bg-premium-dark">
                                <div class="widget-content-wrapper text-white">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Deaths</div>
{#                                        <div class="widget-subheading">Total revenue streams</div>#}
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-danger"><span>{{ global_deaths|intcomma }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">Case Distribution</h5>
                                <canvas id="global_distribution"></canvas>
                            </div>
                        </div>
                    </div>
                    </div>

                        <div class="main-card mb-3 card">
                            <div class="card-body"><h5 class="card-title">Worldwide</h5>
                                <div class="table-responsive">
                                    <table class="mb-0 table">
                                        <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>Mortality Rate</th>
                                            <th>Total Cases</th>
                                            <th>New Cases</th>
                                            <th>Total Deaths</th>
                                            <th>New Deaths</th>
                                            <th>Total Recovered</th>
                                            <th>Active Cases</th>
                                            <th>Critical Cases</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for name, data in countires.items %}
                                        <tr>
                                            <th scope="row">{{ name }}</th>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-danger">{{ data.death_rate|intcomma }}%</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-dark">{{ data.total_cases|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-primary">{{ data.new_cases|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-danger">{{ data.total_deaths|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-danger">{{ data.new_deaths|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-success">{{ data.total_recovered|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-warning">{{ data.active_cases|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-danger">{{ data.critical|intcomma }}</div></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
            </div>
                <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        </div>
    </div>
<script type="text/javascript" src="{% static 'assets/scripts/main.js' %}"></script>
<script>setTimeout(function() {
  location.reload();
}, 30000);</script>
<script>
    var ctx = document.getElementById('global_distribution').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{ global_active }}, {{ global_recovered }}, {{ global_deaths }}],
                backgroundColor: [
                    '#f7b924',
                    '#3ac47d',
                    '#d92550'
                ]
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Active Cases',
                'Recovered',
                'Deaths'
            ],
        },
        options: {
            cutoutPercentage: 0,
            animation: {
                duration: 0 // general animation time
            },
        }
    });
</script></body>
</html>
