<!doctype html>
<html lang="en">

<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33349132-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-33349132-2');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Coronavirus Live Advanced Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="COVID-19 Outbreak Cases, Statistics, Your Country and Worldwide">
    <meta name="msapplication-tap-highlight" content="no">
{% load static %}
<link href="{% static 'main.css' %}" rel="stylesheet">
<!-- Hotjar Tracking Code for covidstatus.live -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1729840,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script data-ad-client="ca-pub-3261993669263021" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-main">
            <div class="col-lg-12">

                    <div class="main-card mb-3">
{#                            <img src={{ flag }} style="width: 40px; height=40px;">#}
                        <h1>{{ location }} Corona Virus Live Status</h1>
                    </div>

                {% load humanize %}

                    <div class="main-card mb-2 card">
                        <div class="no-gutters row">
                            <div class="col-md-2">
                                <div class="widget-content">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-right ml-0 mr-3">
                                            <div class="widget-numbers text-warning" style="font-size: 2.5rem">{{ my_country_total_cases|intcomma }}</div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total Cases</div>
                                            <div class="widget-subheading">All confirmed cases</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="widget-content">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-right ml-0 mr-3">
                                            <div class="widget-numbers text-primary" style="font-size: 2.5rem">{{ my_country_new_cases|intcomma }}</div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">New Cases Today</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="widget-content">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-right ml-0 mr-3">
                                            <div class="widget-numbers text-danger" style="font-size: 2.5rem">{{ my_country_total_deaths|intcomma }}</div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total Deaths</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="widget-content">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-right ml-0 mr-3">
                                            <div class="widget-numbers text-danger" style="font-size: 2.5rem">{{ my_country_new_deaths }}</div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">New Deaths Today</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="widget-content">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-right ml-0 mr-3">
                                            <div class="widget-numbers text-danger" style="font-size: 2.5rem">{{ my_country_rate }}</div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Mortality Rate</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

{#                            <div class="col-md-2">#}
{#                                <div class="card card-body" style="box-shadow: none">#}
{#                                    <h5 class="card-title">Get daily updates about COVID-19 Status!</h5>#}
{#                                    <button class="btn btn-primary" data-toggle="modal" data-target="#subscriptionModal">#}
{#                                        SUBSCRIBE#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                    <div class="divider mt-0" style="margin-bottom: 30px;"></div>

{#            <div id="chartdiv"></div>#}


                    <h1>Worldwide Status</h1>

                    <div class="row">

                    <div class="col-lg-4">
                        <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <div class="card mb-3 widget-content bg-premium-dark">
                                <div class="widget-content-wrapper text-white">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Total Cases</div>
{#                                        <div class="widget-subheading">Total revenue streams</div>#}
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-warning"><span>{{ global_cases|intcomma }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <div class="card mb-3 widget-content bg-premium-dark">
                                <div class="widget-content-wrapper text-white">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Recovered</div>
{#                                        <div class="widget-subheading">Total revenue streams</div>#}
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-success"><span>{{ global_recovered|intcomma }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <div class="card mb-3 widget-content bg-premium-dark">
                                <div class="widget-content-wrapper text-white">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Deaths</div>
{#                                        <div class="widget-subheading">Total revenue streams</div>#}
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-danger"><span>{{ global_deaths|intcomma }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">Case Distribution</h5>
                                <canvas id="global_distribution"></canvas>
                            </div>
                        </div>
                    </div>
                    </div>

                        <div class="main-card mb-3 card">
                            <div class="card-body"><h5 class="card-title">Worldwide</h5>
                                <div class="table-responsive">
                                    <table class="mb-0 table">
                                        <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>Mortality Rate</th>
                                            <th>Total Cases</th>
                                            <th>New Cases</th>
                                            <th>Total Deaths</th>
                                            <th>New Deaths</th>
                                            <th>Total Recovered</th>
                                            <th>Active Cases</th>
                                            <th>Critical Cases</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for name, data in countires.items %}
                                        <tr>
                                            <th scope="row">{{ name }}</th>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-danger">{{ data.death_rate|intcomma }}%</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-dark">{{ data.total_cases|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-primary">{{ data.new_cases|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-danger">{{ data.total_deaths|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-danger">{{ data.new_deaths|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-success">{{ data.total_recovered|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-warning">{{ data.active_cases|intcomma }}</div></td>
                                            <td><div class="mb-2 mr-2 badge badge-pill badge-danger">{{ data.critical|intcomma }}</div></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
            </div>
                <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
                <script src="https://www.amcharts.com/lib/4/core.js"></script>
                <script src="https://www.amcharts.com/lib/4/maps.js"></script>
                <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
                <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        </div>
    </div>
<script type="text/javascript" src="{% static 'assets/scripts/main.js' %}"></script>
<script>
    {#setTimeout(function() {#}
    {#    location.reload();#}
    {#}, 30000);#}

    url = new URL(document.URL);

    if (url.searchParams.get('subscribed')) {
        console.log("pullaaaa!");
    }
</script>
<script>
    var ctx = document.getElementById('global_distribution').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{ global_active }}, {{ global_recovered }}, {{ global_deaths }}],
                backgroundColor: [
                    '#f7b924',
                    '#3ac47d',
                    '#d92550'
                ]
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Active Cases',
                'Recovered',
                'Deaths'
            ],
        },
        options: {
            cutoutPercentage: 0,
            animation: {
                duration: 0 // general animation time
            },
        }
    });
</script>
<script>
    /**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 *
 * For more information visit:
 * https://www.amcharts.com/
 *
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create map instance
var chart = am4core.create("chartdiv", am4maps.MapChart);

// Set map definition
chart.geodata = am4geodata_worldLow;

// Set projection
chart.projection = new am4maps.projections.Miller();

// Create map polygon series
var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

// Exclude Antartica
polygonSeries.exclude = ["AQ"];

// Make map load polygon (like country names) data from GeoJSON
polygonSeries.useGeodata = true;

// Configure series
var polygonTemplate = polygonSeries.mapPolygons.template;
polygonTemplate.tooltipText = "{name}";
polygonTemplate.polygon.fillOpacity = 0.6;

polygonSeries.heatRules.push({
    "property": "fill",
    "target": polygonSeries.mapPolygons.template,
    "min": am4core.color("#6085ff"),
    "max": am4core.color("#aa0012")
});

polygonSeries.data = [
    {% for name, data in countires.items %}
        {% if data.total_cases_by_1M != "NAN" %}
            {
                "id": "{{ data.country_code }}",
                "value": {{ data.total_cases_by_1M }},
            },
        {% endif %}
    {% endfor %}
];

polygonTemplate.propertyFields.fill = "fill";


// Create hover state and set alternative fill color
var hs = polygonTemplate.states.create("hover");
hs.properties.fill = chart.colors.getIndex(0);

// Add image series
var imageSeries = chart.series.push(new am4maps.MapImageSeries());
imageSeries.mapImages.template.propertyFields.longitude = "longitude";
imageSeries.mapImages.template.propertyFields.latitude = "latitude";
imageSeries.mapImages.template.tooltipText = "{title}";
imageSeries.mapImages.template.propertyFields.url = "url";

var circle = imageSeries.mapImages.template.createChild(am4core.Circle);
circle.radius = 3;
circle.propertyFields.fill = "color";

var circle2 = imageSeries.mapImages.template.createChild(am4core.Circle);
circle2.radius = 3;
circle2.propertyFields.fill = "color";


circle2.events.on("inited", function(event){
  {#animateBullet(event.target);#}
})


function animateBullet(circle) {
    var animation = circle.animate([{ property: "scale", from: 1, to: 5 }, { property: "opacity", from: 1, to: 0 }], 10000, am4core.ease.circleOut);
    animation.events.on("animationended", function(event){
      animateBullet(event.target.object);
    })
}

var colorSet = new am4core.ColorSet();

{#imageSeries.data = [#}
{#    {% for country, location in map_locations.items %}#}
{#        {#}
{#            "title": "{{ country }}",#}
{#            "latitude": {{ location.lat }},#}
{#            "longitude": {{ location.lon }},#}
{#            "color": colorSet.next()#}
{#        },#}
{#    {% endfor %}#}
{#];#}
</script>

</body>
</html>

<!-- Subscription Modal -->
<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Subscribe to Updates</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">By submitting your email you accept the fact that we are going to process and store your email address to provide you with the service. We are not going to share your email with any third-party.</p>

                <br>

                <form class="form-inline" action="/subscribe/" method="post">{% csrf_token %}
                    <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group"><label for="email" class="mr-sm-2">Email</label><input name="email" id="email" placeholder="something@idk.cool" type="email" class="form-control"></div>
                    <input type="hidden" id="country_name" name="country_name" value={{ location }}>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
